{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success pt-4">
    <div class="container">
     <div class="row">
       <div class="col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center justify-content-md-end">
          <img class="rounded-2 border border-1 border-warning shadow-lg bg-white" src="{% static 'img/me.jpg' %}" height="300" alt="my photo">
       </div>
       <div class="col-ms-12 col-md-8 col-lg-7 justify-content-center pt-3">
         <span class="text-warning ">____ [Bio] </span>
           <p class="text-white text-sm-center text-start">
            As, everyone's journey is unique and varies, mine is too. <br> 
            I was born in a village called Perah located in Panjab, Bamiyan in Afghanistan. After few years, 
            living in Ghazni city, my family moved to Kabul Afghanistan in pursuit of a better life. 
            I finished my high school and university in Kabul in 2019. 
            I have worked at few companies in Afghanistan. 2020 is the year I moved to Dubai. 
            Currently, I live in Dubai, one of the best and dynamic cities of the world.
            
          </p>
          <p class="text-center"> <a href="#!" class="btn btn-warning text-success ms-auto">Read about my education</a> </p>
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 100px;">
   </div>
 </div>

 <!-- my education -->
 <div class="container bg-white pb-4">
    <div class="row pt-5">
      <h2 class=" text-center text-warning">My Education</h2>
      <p class="text-center text-success">
        I have a bachelor degree from computer science and some diplomas in language and in STEM
      </p>

        <div class="col-sm-12 col-md-4">
          <div class="card text-center bg-success my-2 mx-2">
            <div class="card-header">
                <h5 class="text-center text-white">Bachelor of Computer Science </h5>
            </div>
              <div class="card-body ">
                <div class="d-block ">
                  <img class="" src="{% static 'img/logokateb.png' %}" width="70" alt="Kateb Logo">
                 <a class="text-decoration-none" href="https://kateb.edu.af"> 
                    <h5 class="text-warning lh-1 pt-2 roboto-bold">Kateb University</h5>
                  </a>
                 <p class="text-warning lh-1" > Kabul <span class="text-white"> | </span> 2016 - 2019 </p>
                 <p class="text-warning ">
                    I have learnt so much from Kateb, teachers, mentors and 
                    lecturers, my friends and overall from Kateb community. I have made some awasome friends. 
                  </p>
                </div>
              </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="card text-center bg-warning my-2 mx-2">
            <div class="card-header">
                <h5 class="text-center text-white">High School </h5>
            </div>
              <div class="card-body ">
                <div class="d-block ">
                  <h5 class="text-success lh-1 pt-2 roboto-bold">Abdur Rahim Shaheed </h5>
                  <p class="text-success lh-1" > Kabul <span class="text-white"> | </span> 2010 - 2014 </p>
                  <p class="text-success ">
                    I have studied in many schools. I have started my school in Ghazni. After moving in Kabul, 
                    I continued at Sayed Al Shohada high school, 
                    then after moving to Marefat private school, I graduated from Abdur Rahim Shaheed high school.
                    </p>
                </div>
              </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="card text-center bg-info my-2 mx-2">
            <div class="card-header">
                <h5 class="text-center text-white">ESL Diploma </h5>
            </div>
              <div class="card-body ">
                <div class="d-block ">
                  <img class="" src="{% static 'img/star.png' %}" width="70" alt="Kateb Logo">
                 <a class="text-decoration-none" href="https://star.edu.af"> 
                    <h5 class="text-dark lh-1 pt-2 roboto-bold">Star Educational Society</h5>
                  </a>
                 <p class="text-dark lh-1" > Kabul <span class="text-white"> | </span> 2009 - 2012 </p>
                 <p class="text-dark ">
                   Star Educational Society is a premier private English language center. Here, I have learnt English 
                   that made a huge impact on me. i have made awasome friends.
                  </p>
                </div>
              </div>
          </div>
        </div>

       
    </div>
  </div>
{% endblock content %}