{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/blog.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <p class="text-warning text-center fs-5 roboto-bold">
            My Writings and Thoughts
          </p>
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 100px;">
   </div>
 </div>


 <div class="container bg-white">
  <div class="container p-0 bg-white">
    <div class="container">
     <div class="row">
    
      {% for obj in objects %}
      <div class="col-sm-12 col-md-4">
        <div class="card bg-light shadow my-3 mx-2" >
          <img src="{{ obj.image.url }}" class="card-img-top" alt="post photo">
          <div class="card-body  pt-2">
            <p class="py-0">
              <span class="iconify " data-icon="flat-color-icons:like" data-inline="false"></span> 
              <span style="font-size: small;">14</span> &nbsp;&nbsp;
              <span class="iconify text-primary" data-icon="ant-design:comment-outlined" data-inline="false"></span>
              <span style="font-size: small;">7</span> &nbsp;&nbsp;
              <span style="font-size: small;">{{obj.date |safe}}</span> 
            </p>
            <a href="{% url 'post' obj.id %}" class="text-decoration-none">
              <h5 class="card-title text-warning text-capitalize roboto-bold">{{obj.title|safe}}</h5>
            </a>
            <p class="card-text text-success">{{obj.abstract|safe}} </p>
          </div>
        </div>
      </div>
      {% endfor %}
     </div>
    </div>

    <div class="container">
      <div class="row mt-2">
        <div class="col d-flex justify-content-center ">
          {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-success mb-4 mx-1" href="?page=1">First</a  >
              <a class="btn btn-outline-success mb-4 mx-1" href="?page={{ page_obj.previous_page_number }}">Back</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-outline-success mb-4 mx-1" href="?page={{num}}">{{num}}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-success mb-4 mx-1" href="?page={{num}}">{{num}}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-success mb-4 mx-1" href="?page={{page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-success mb-4 mx-1" href="?page={{page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}
        </div>
   </div>
    </div>
  
  </div>
 </div>
{% endblock content %}