{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/contact.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <p class="text-warning text-center roboto-bold fs-5 text-start">
            I love to hear from you. Always read all of messages and emails every day!
          </p>
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 130px;">
   </div>
 </div>

 <div class="container p-0 bg-white">
  <div class="container">
    <h4 class="roboto-bold text-warning text-center pt-3">Quick Links</h4>
    <p class="roboto text-success text-center">zamanehsani@gmail.com</p>
   <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card rounded-3 text-center bg-success my-2 mx-2 px-3 py-2">
        <img src="{% static 'img/whatsapp.png' %}" class="card-img-top" alt="my whatsapp">
        <div class="card-body pt-0">
          <span class="text-warning">scan the code or click </span>
          <a href="https://wa.me/message/A4D76HO6P7DKH1" target="_blank" class="btn btn-outline-warning">WhatsApp me</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card rounded-3 text-center bg-success my-2 mx-2 py-2">
        <img src="{% static 'img/instagram.png' %}"  class="card-img-top mx-auto" style="width: 90%;" alt="my instagram">
        <div class="card-body pt-0">
          <span class="text-warning">scan the code or click </span>
          <a href="https://www.instagram.com/zaman_ehsani" target="_blank" class="btn btn-outline-warning">Follow me on Instagram</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="card rounded-3 text-center bg-success my-2 mx-2 px-3 py-2">
        <img src="{% static 'img/facebook.png' %}" class="card-img-top rounded-3 mt-2" alt="my facebook">
        <div class="card-body pt-0">
          <span class="text-warning">scan the code or click </span>
          <a href="https://facebook.com/zaman.ehsani" target="_blank" class="btn btn-outline-warning">Find me on Facebook</a>
        </div>
      </div>
    </div>

   </div>
  </div>

</div>



{% endblock content %}