{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/post.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <!-- <p class="text-white text-center fs-5 text-start"> {{object.title}}</p>
           <p class="text-warning text-center">{{object.date}}</p> -->
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 100px;">
   </div>
 </div>


 <div class="container bg-white pb-3">
     <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto ">
        <div class="card bg-light border-0 my-3 mx-2" >
          <img src="{{ object.image.url }}" class="card-img-top" alt="{{object.title}}">
          <div class="card-body pt-2">
            <p class="py-0">
              <span class="iconify " data-icon="flat-color-icons:like" data-inline="false"></span> 
              <span style="font-size: small;">14</span> &nbsp;&nbsp;
              <span class="iconify text-primary" data-icon="ant-design:comment-outlined" data-inline="false"></span>
              <span style="font-size: small;">7</span> &nbsp;&nbsp;
              <span style="font-size: small;">{{object.date}}</span> 
            </p>
              <h5 class="card-title text-warning text-capitalize roboto-bold">{{object.title}}</h5>
            <p class="card-text text-success">{{object.post}} </p>
          </div>
        </div>
  
     </div>
    </div>
 </div>
{% endblock content %}