{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/post.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <!-- <p class="text-white text-center fs-5 text-start"> {{object.title}}</p>
           <p class="text-warning text-center">{{object.date}}</p> -->
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 130px;">
   </div>
 </div>


 <div class="container bg-white pb-3">
     <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto ">
        <div class="card bg-light border-0 my-3 mx-2" >
          <img src="{{ object.image.url }}" class="card-img-top" alt="{{object.title|safe}}">
          <div class="card-body">
              <h5 class="card-title text-warning text-capitalize roboto-bold py-2">{{object.title}} <span class="text-success" style="font-size: small;">{{object.date}}</span> </h5>
            <p class="card-text text-success">{{object.post|safe}} </p>
          </div>
        </div>

        <div class="container">
          <hr>
          <!-- <h5 class="roboto-bold text-success pb-2">Add Comment</h4> -->
            <p class="py-0 fs-4 lh-1">
              <span class="iconify " data-icon="flat-color-icons:like" data-inline="false"></span> 
              {% for likes in object.like_set.all %}
              <span style="font-size: small;">{{likes.like}}</span> 
              {% endfor %}&nbsp;&nbsp;
              <span class="iconify text-primary" data-icon="ant-design:comment-outlined" data-inline="false"></span>
              <span style="font-size: small;">7</span>
            </p>

            {% for comm in object.comment_set.all %}
            <div class="row bg-light shadow-sm rounded-3 my-2">
              <p class="text-success lh-1 mt-3"><strong>{{comm.name}}</strong> <span class="small">&nbsp;&nbsp; {{comm.date}}</span></p>
              <p class="lh-1">{{comm.comment}}</p>
            </div>
          {% endfor %}
            
          <div class="container">
            <div class="row">
              <form id="add_comment" action=""  method="post" > {% csrf_token %}
                <div class="row">
                  <p class="text-success roboto-bold mt-2">Add a comment</p>
                  <input type="hidden" name="post" value="{{object.pk}}">
                  <div class="col-sm-12 col-md-6 ">
                    <div class="form-group">
                      <input type="text" required class="form-control" name="name" placeholder="your Name">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <input type="email" required class="form-control" name="email" placeholder="name@example.com">
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" required placeholder="Your comments here" name="comment" rows="3"></textarea>
                </div>
                <div class="text-right d-flex justify-content-end mt-3">
                  <input class="btn btn-success text-right" type="submit" value="Add comment">
                </div>
              </form>
            </div>
          </div>
        </div>
     </div>
    </div>
 </div>
{% endblock content %}