{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/services.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <p class="text-warning text-center fs-5 roboto-bold ">
           I can help you with Developement, Designing, <br> Branding, Marketing and Project Management
          </p>
          
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 100px;">
   </div>
 </div>


  <!-- works -->
  <div class="container bg-white">
    <h2 class="text-center fw-bolder text-warning pt-3 roboto-bold"> Web Developement</h2>
    <p class="text-center mb-3 text-success mx-md-5 px-md-5 "> If you have got an idea, I can build it for you!
       
     </p>
     <!-- Dy -->
    <div class="row flex-md-row-reverse">
      <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
        <img src="{% static 'img/webdevelopement.jpg' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">Python, Django, JavaScript, Bootstrape </h4>
        <p class="text-success ps-lg-5">
          I have almost 4 years of experiences in web Developement and software engineering. I used to work with Java,
          C#, PHP. Now, I switched to Python ecosystem and Django is my favorite web framework. I can handle project form scratch.
        </p>
      </div>
    </div>
  </div>

 <!-- my experiences -->
  <div class="container bg-white pb-4"> 
    <div class="row pt-5">
      <h2 class=" text-center roboto-bold text-warning">Designing</h2>
      <p class="text-center text-success">
         I can help you to design your idea, logo, content, website and applications
      </p>

      <div class="row flex-row mx-auto justify-content-center">
          <div class="col-sm-12 col-md-5">
            <div class="card border-0">
                <img src="{% static 'img/abf.png' %}" class="card-img-top my-auto mx-auto d-block bg-transparent" alt="my design">
                <div class="card-body">
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-5">
            <div class="card  border-0">
                <img src="{% static 'img/dy.png' %}" class="card-img-top" alt="my design">
                <div class="card-body">
               
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-5">
            <div class="card border-0">
                <img src="{% static 'img/branding.jpg' %}" class="card-img-top" alt="my design">
                <div class="card-body">
               
                </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="card  border-0">
                <img src="{% static 'img/2.png' %}" class="card-img-top" alt="my design">
                <div class="card-body">
                <!-- <h5 class="card-title">Design Sample</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                
                </div>
            </div>
          </div>
      </div>
    </div>
  </div> 

   <!-- my experiences -->
   <div class="container bg-white pb-4"> 
    <div class="row pt-5">
      <h2 class=" text-center roboto-bold text-warning">Marketing</h2>
      <p class="text-center text-success ps-5">
         I can help you with Digital Marketing and Social Media Management and Marketing. I am also familair with Funnal.
      </p>

      <div class="row mx-auto justify-content-center">
          
        <div class="col-sm-12 col-md-5">
            <div class="card text-center bg-success my-2 mx-2">
                <div class="card-body ">
                  <div class="d-block ">
                    <h4 class="text-warning lh-1 roboto-bold"> Digital Marketing</h4>
                    <img class="" src="{% static 'img/digitalmarketing.svg' %}" height="120" alt="Digital Marketing">
                      <h5 class="text-warning lh-1 pt-2 roboto-bold">Narenj Software Developement</h5>
                   <p class="text-warning">
                     I was a part of the Developement team. also, i was responsible for training.
                     the Project was built using PHP language and CodeIgniter framework. MySQL is used in the backend.
                    </p>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-5">
            <div class="card text-center bg-success my-2 mx-2">
                <div class="card-body ">
                  <div class="d-block ">
                     <img class="" src="{% static 'img/socialmedia.svg' %}" height="150" alt="Social Media Marketing">
                      <h5 class="text-warning lh-1 pt-2 roboto-bold">Social Media</h5>
                   <p class="text-warning ">
                      No Doubt that social media is the most powerful tools for business. 
                      I can help you with your social media Management, marketing, and Automation. 
                    </p>
                  </div>
                </div>
            </div>
          </div>

         
      </div>
    </div>
  </div> 
{% endblock content %}