{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-0 bg-success">
    <div class="container">
     <div class="row">
       <div class="col-ms-12 col-md-12 justify-content-center pt-4">
        <div class="col-sm-12">
          <img src="{% static 'img/projects.svg' %}" width="200" alt="web Developement" 
          class="rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
           <p class="text-warning text-center fs-5 roboto-bold">
            Check out some websites and web applications I have built!
          </p>
       </div>
     </div>
    </div>
   <div class="bg-wave" style="height: 130px;">
   </div>
 </div>

 <!-- works -->
 <div class="container bg-white">
    <h2 class="text-center fw-bolder text-warning pt-3 roboto-bold"> My Projects</h2>
    <p class="text-center mb-3 text-success mx-md-5 px-md-5 "> I have build websites and applications using Python, Django, JavaScript, Jquery, Bootstrap, PHP, and CodeIgniter.
        I have used C# and java also.
     </p>
     <!-- Dy -->
    <div class="row flex-md-row-reverse">
      <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
        <img src="{% static 'img/dy.png' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">Dynamic Youth of Afghanistan</h4>
        <p class="text-center fs-6"><a href="http://www.dynamicyouth.org" target="_blank" class="text-decoration-none "> visit the website</a></p>
        <p class="text-success text-center p-lg-3">
          DYOA is a non-governmental and not for profit youth-led civil rights organization,
           works in the areas of Career & Education, Peacebuilding & Leadership Development aligned with the Global 
           Goals of United Nations (SDGs).
        </p>
      </div>
    </div>

    <!-- broker awareness -->
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
          <img src="{% static 'img/abf.png' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">Awareness Brokers Foundation</h4>
          <p class="text-center fs-6"><a href="http://awarenessbrokers.org/" target="_blank" class="text-decoration-none "> visit the website</a></p>
          <p class="text-success text-center p-lg-3">
            The ABF consists of students who have come together to inform the community and solve problems in Afghanistan 
            that are rooted in ignorance. We have set up this 
            foundation to build an informed community on all the important issues of the collective.
          </p>
        </div>
    </div>

    <!-- face -->
    <div class="row flex-md-row-reverse">
      <div class="col-sm-12 col-md-6 col-lg-6 p-2 d-flex justify-content-center ">
        <div class="container">
          <iframe class="shadow" style="width: 95%; height: 100%; border-radius: 8px;" src="https://www.youtube.com/embed/p_IYD99qW9Y" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">My Face Recognition </h4>
         <p class="text-success text-center p-lg-2">
          This project aims to implement face recognition using HOG for face recognition and HAAR Cascade for
           face detection. This is Implemented on Raspberry pi 4 model B with 4GB of ram. 
          The FPS here is about 5 frame per second.  
        </p>
      </div>
    </div>
  </div>

 <!-- my experiences -->
  <div class="container bg-white pb-4">
    <div class="row pt-5  mx-auto">
      <h2 class=" text-center text-warning">My Experiances</h2>
      <p class="text-center text-success px-lg-5">
        I had the please of working with Subsonic, Narenj, Startup Weekend Kabul. Also, There are many other Experiances that is not included here.
      </p>

      <div class="row flex-row justify-content-center  mx-auto">
          <div class="col-sm-12 col-md-5 ">
            <div class="card text-center bg-warning my-2 mx-2">
                <div class="card-body ">
                  <div class="d-block ">
                    <h4 class="text-success lh-1 roboto-bold">Full Stack Developer</h4>
                    <img class="" src="{% static 'img/subsonic-logo.svg' %}" height="60" alt="Kateb Logo">
                   <a class="text-decoration-none" href="https://subsonic.ae" target="_blank"> 
                      <h5 class="text-success lh-1 pt-2 roboto-bold">Subsonic LLC</h5>
                    </a>
                   <p class="text-success lh-1" > Dubai <span class="text-white"> | </span> 2020 to 2021 </p>
                   <p class="text-success ">
                     Working on the Dearhr project from the scratch. I am responsible for all aspects of the projects
                     the Project was built using python language and Django framework. Postgresql is used in the backend.
                    </p>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-5">
            <div class="card text-center bg-success my-2 mx-2">
                <div class="card-body ">
                  <div class="d-block ">
                    <h4 class="text-warning lh-1 roboto-bold"> Web Developer</h4>
                    <img class="" src="{% static 'img/narenj.png' %}" height="80" alt="Narenj logo">
                    <a class="text-decoration-none" href="https://narenj.af" target="_blank"> 
                      <h5 class="text-warning lh-1 pt-2 roboto-bold">Narenj Software Developement</h5>
                    </a>
                   <p class="text-warning lh-1" > Dubai <span class="text-white"> | </span> 2020 to 2021 </p>
                   <p class="text-warning ">
                     I was a part of the Developement team. also, i was responsible for training.
                     the Project was built using PHP language and CodeIgniter framework. MySQL is used in the backend.
                    </p>
                  </div>
                </div>
            </div>
          </div>
          
      </div>
    </div>
  </div> 

<!-- activities -->
<div class="container bg-white ">
  <div class="row ">
    <h2 class="text-center fw-bolder text-warning pt-3 roboto-bold"> Activities</h2>
      <p class="text-center mb-3 text-success px-5"> 
          I am also member of Startup Weekend Kabul, IGF, board Member Youth IGF, ACM ICPC-Kateb.
       </p>
    <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
      <img src="{% static 'img/sw.jpg' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
       <a class="text-decoration-none" target="_blank" href="http://startupweekend.af/"><h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">Startup Weekend Kabul</h4></a>
      <!-- <p class="text-center fs-6"><a href="http://awarenessbrokers.org/" target="_blank" class="text-decoration-none "> visit the website</a></p> -->
      <p class="text-success text-center">
        Techstars Startup Weekend is an action-packed program, where aspiring entrepreneurs get to experience 
        the highs, lows, fun, and pressure that makeup life at a startup. All in just 54 hours.
      </p>
    </div>
  </div>

  <div class="row flex-md-row-reverse">
    <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
      <img src="{% static 'img/igf.jpg' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
       <a class="text-decoration-none" target="_blank" href="https://igf.af/"><h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">IGF Afghanistan</h4></a>
      <!-- <p class="text-center fs-6"><a href="http://awarenessbrokers.org/" target="_blank" class="text-decoration-none "> visit the website</a></p> -->
      <p class="text-success text-center">
        The Internet Governance Forum Afghanistan (IGFA) is an annual event aimed at addressing issues 
        such as access, infrastructure, quality of services, local content and local apps, cyber security, online safety,
         policy and regulatory environment, and community engagement.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
      <img src="{% static 'img/yigf.jpg' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
       <a class="text-decoration-none" target="_blank" href="https://www.facebook.com/YouthIGFA/"><h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">Youth IGF</h4></a>
      <!-- <p class="text-center fs-6"><a href="http://awarenessbrokers.org/" target="_blank" class="text-decoration-none "> visit the website</a></p> -->
      <p class="text-success text-center">
        The Youth IGF Afghanistan (YouthIGFA) is a youth-led and youth-focused initiative with an aim to engage
         Afghan youth in processes 
        and dialogues related to Internet Governance.
      </p>
    </div>
  </div>

  <div class="row flex-md-row-reverse">
    <div class="col-sm-12 col-md-6 col-lg-6 p-2 ">
      <img src="{% static 'img/acm.JPG' %}" alt="dy website" class="dyphoto rounded-3 mb-3 my-auto mx-auto d-block bg-transparent">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
       <a class="text-decoration-none" target="_blank" href="https://icpc.kateb.edu.af/"><h4 class="mt-2 mt-lg-5 text-center fw-bolder text-success roboto-bold">ICPC-Kateb</h4></a>
      <!-- <p class="text-center fs-6"><a href="http://awarenessbrokers.org/" target="_blank" class="text-decoration-none "> visit the website</a></p> -->
      <p class="text-success text-center">
        Kabul Regional is one of the 26 sites of Asia. It is the first ACM/ICPC regional 
        contest in Afghanistan. The contest is hosted by Kateb University. The winner team of the Kabul 
        Regional contest will go for final contest globally. 
        The ACM and ICPC Foundation support some of the expenses of the teams.
      </p>
    </div>
  </div>
</div>



{% endblock content %}